<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="../static/site-logo.png">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="../static/homepage.css">
    <title>Plantonic | Plant Shop</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent container-cs">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <img src="../static/site-logo.png" alt="" srcset="" width="40">
        <!-- <a class="navbar-brand" href="#">
            lantonic
        </a> -->
        <a href="https://play.google.com/store/apps/details?id=co.in.plantonic">
            <button class="btn btn-outline-warning get-app-btn d-none" id="mobile-app-btn">Get on Play Store</button>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-around mr-auto ml-5 px-5">
                <!-- <li class="nav-item active"> -->
                    <!-- <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                <!-- </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                </li> -->
            </ul>
            <a href="https://play.google.com/store/apps/details?id=co.in.plantonic">
            <button class="btn btn-outline-warning get-app-btn">Get on Play Store</button></a>
        </div>
    </nav>
    <div class="hero">
        <div class="row">
            <div class="col-lg-7 col-md-12 bg-grey hero-left-col">
                <h2 class="mb-3 hero-title-top"><span class="first-title"></span> The best plant shop mobile app</h2>
                <h1 class="hero-title mb-3">Your Ultimate <span class="brand-color">Plant Shopping</span> App</h1>
                <p class="text-secondary fs-18 pt-3 m-text-center">Transform your home with premium plants, seed bulbs, and fertilizers - delivered fresh to your door anytime you need. Discover a world of lush greenery and vibrant flowers, conveniently brought to you with the highest quality and care.</p>
                <div class="btn-holder my-5 align-items-center justify-content-start">
                    <a href="https://play.google.com/store/apps/details?id=co.in.plantonic">

                        <img src="../static/assets/gplay.png" class="mr-3" alt="Get on Play Store" width="30%" >
                    </a>
                    
                    <img src="../static/assets/apple.png" alt="" width="27%" class="fade-image">
                    <!-- <button class="mw-50 btn btn-dark mr-3 d-flex align-items-center justify-content-around">
                        <i class="fa-brands fa-google-play play-icon"></i>
                        <div class="d-block mml-3 ml-3 text-left">
                            <p class="text-uppercase m-0" style="margin-bottom: -9px !important;">Get it on</p>
                            <p class="g-play m-0">Google Play</p>
                        </div>
                    </button>
                    <button class="mw-50 btn btn-dark d-flex align-items-center justify-content-around">
                        <i class="fa-brands fa-apple play-icon2"></i>
                        <div class="d-block mml-3 ml-3 text-left">
                            <p class="m-0" style="margin-bottom: -9px !important;">Download on</p>
                            <p class="g-play m-0">App Store</p>
                        </div>
                    </button> -->
                </div>
                <div class="d-flex align-items-center justify-content-start  m-center">
                    <div class="box" style="background-image:url('../static/assets/product.png');background-size: contain;" alt=""
                        width="80%"></div>
                    <div class="box" style="background-image:url('../static/assets/product.png');background-size: contain;" alt=""
                        width="80%"></div>
                    <div class="box" style="background-image:url('../static/assets/product.png');background-size: contain;" alt=""
                        width="80%"></div>
                    <div class="box" style="background-image:url('../static/assets/product.png');background-size: contain;" alt=""
                        width="80%"></div>
                    <div class="box" style="background-image:url('../static/assets/product.png');background-size: contain;" alt=""
                        width="80%"></div>
                    <div class="box"><i class="fa-solid fa-plus"></i></div>
                    <div class="downloads">
                        <span class="d-block">50+</span>
                        SKUs
                    </div>
                </div>
            </div>
            <div class="col-md-5 bg-brand d-flex align-items-center justify-content-between">
                <div class="mobile-frame position-left">
                    <img src="../static/assets/screen1.png" alt="" width="280">
                </div>
                <div class="mobile-frame position-right">
                    <img src="../static/assets/screen-6.png" alt="" width="280">
                </div>
            </div>
        </div>
    </div>
    <section class="downloads-container custom-container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="downloads-title mb-3">Download Our <span class="brand-color">Plant Shop App</span> Today!
                </h1>
                <p class="text-secondary fs-18 mb-3 pt-3 m-text-center">Find Your Perfect Plant with Plantonic. Now Available on the Play Store!</p>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="border-right-custom pr-5 w-33">
                        <h2 class="brand-color upper-text">44K +</h2>
                        <p class="btm-container-text mb-0">World wide users</p>
                    </div>
                    <div class="border-right-custom px-5 w-33">
                        <h2 class="brand-color upper-text">3+</h2>
                        <p class="btm-container-text mb-0">Countries</p>
                    </div>
                    <div class="px-5 m-vendors w-33">
                        <h2 class="brand-color upper-text">50+</h2>
                        <p class="btm-container-text mb-0">Vendors</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex justify-content-between align-items-center mmt-5">
                <div class="card android-card px-3">
                    <div class="card-body product-qr-body">
                        <h3 class="card-title custom-title fw-bold">For Android</h3>
                        <h6 class="card-subtitle mb-2 text-secondary fs-18">Android 5.0+</h6>
                        <a href="https://play.google.com/store/apps/details?id=co.in.plantonic"><button class="btn mt-3 mb-3 btn download-btn">Download App</button></a>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 qr-div">
                                <a href="#" class="card-link p-1">
                                    <img src="../static/assets/qr.png" width="180" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-6 icon-div">
                                <div class="icon-holder">
                                    <i class="fa-brands fa-android fs-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card android-card px-3">
                    <div class="card-body product-qr-body">
                        <h3 class="card-title custom-title fw-bold">For iOS</h3>
                        <h6 class="card-subtitle mb-2 text-secondary fs-18">iOS 15.6+</h6>
                        <button class="btn mt-3 mb-3 btn download-btn">Download App</button>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 qr-div">
                                <a href="#" class="card-link p-1">
                                    <img src="../static/assets/qr.png" width="180" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-6 icon-div">
                                <div class="icon-holder">
                                    <i class="fa-brands fa-apple fs-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- <section class="app-demo bg-grey d-flex flex-column justify-content-center align-items-center">
        <div class="heading text-center">
            <h2 class="mb-3"><span class="first-title"></span>App Demo</h2>
            <h1 class="downloads-title mb-5">View <span class="brand-color">Our App Demo</span></h1>
        </div>
        <iframe class="rounded iframe" src="https://www.youtube.com/embed/kdL7gagm4o0?si=oY_Pobd5NyAHUb5M"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

    </section> -->
    <section class="custom-container">
        <h2 class="mb-3 text-center"><span class="first-title"></span>How it works</h2>
<h1 class="downloads-title mb-5 text-center">The <span class="brand-color">Seamless <br> Experience</span> of
    Our App</h1>
<div class="row mt-10">
    <div class="col-lg-6 col-md-12 col-sm-12 text-right model-img">
        <img src="../static/assets/model.png" alt="model-image" style="border-radius: 50%; background: antiquewhite;">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div class="list-icon-holder mr-3 col-1">
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
            <div class="info-holder col-8">
                <div class="info-title">
                    Sign Up
                </div>
                <div class="info-paragraph">
                    Start your journey by creating an account in just a few easy steps. Our app welcomes plant lovers with a user-friendly sign-up to access all our features.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div class="list-icon-holder mr-3 col-1">
                <i class="fa-brands fa-edge"></i>
            </div>
            <div class="info-holder col-8">
                <div class="info-title">
                    Browse
                </div>
                <div class="info-paragraph">
                    Explore a wide selection of plants, from indoor greens to outdoor favorites. Our catalog makes finding the perfect plant for your space easy and enjoyable.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div class="list-icon-holder mr-3 col-1">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <div class="info-holder col-8">
                <div class="info-title">
                    Secure and Effortless Order
                </div>
                <div class="info-paragraph">
                    Enjoy a safe, simple checkout process with multiple payment options, ensuring your favorite plants are just a few clicks away.
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <div class="list-icon-holder mr-3 col-1">
                <i class="fa-solid fa-truck"></i>
            </div>
            <div class="info-holder col-8">
                <div class="info-title">
                    Track Your Greenery
                </div>
                <div class="info-paragraph">
                    Stay updated with real-time order tracking, so you know exactly when to expect your new plants to arrive at your doorstep.
                </div>
            </div>
        </div>
    </div>
</div>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script>
        $('.navbar-toggler-icon').html(<i class="fa-solid brand-color fa-bars"></i>);
    </script>
</body>

</html>