<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X UA-Compat" content="IE=edge">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
        <title>
            Plantonic- selling plants for human
        </title>
        <link rel="stylesheet" href="../static/home.css">

    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">Plantonic</a>

            <label for="" class="icons">
                <i class='bx bx-menu'></i>
            </label>

            <nav class="navbar">
                <a href="#home">Home</a>
                <a href="#termcondition">Terms & Condition</a>
                <a href="privacypolicy.html">Privacy Policy</a>
                <a href="#contactus">Contact Us</a>
            </nav>
        </header>

        <section>
            <h2>Welcome to Your Plant Shop!</h2>
            <p>Discover a variety of beautiful plants for your home or garden. Our app makes it easy to browse and purchase your favorite plants.</p>
            <img src="../static/plantonic_logo.jpeg" alt="Beautiful Plants">
            <p>Download our app now and bring nature to your doorstep!</p>
            <a href="your_playstore_app_link" class="cta-button">
                <img src="../static/play_store_logo.jpg" alt="Play Store Logo">Download on Play Store
            </a>
        </section>

        <footer>
            <div class="footer-part">
                <h3>About Us</h3>
                <h4>🌿 Welcome to Plantonic! 🌱</h4>
                <p>We're a budding startup passionate about bringing nature closer to your doorstep. At Plantonic, we believe in the power of greenery to enhance lives and spaces. Our mission is to deliver the freshest, highest quality plants right to your home, making it easier than ever to embrace the beauty and benefits of nature</p>
            </div>
    
            <div class="footer-part">
                <h3>Location</h3>
                <iframe
                    width="100%"
                    height="200"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3665.771663208588!2d88.267314!3d22.4271712!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027b36a36e75af%3A0x37b29d24b5347923!2sPraxis%20Business%20School!5e0!3m2!1sen!2suk!4v1642433514563!5m2!1sen!2suk">
                </iframe>
            </div>
    
            <div class="footer-part">
                <h3>Contact Us</h3>
                <p><i class="fas fa-phone"></i> +91 9876543210</p>
                <p><i class="far fa-envelope"></i> info@example.com</p>
            </div>
        </footer>
        </footer>
    </body>
</html>